{erl_opts, [debug_info]}.
{deps, [
       {mochiweb, {git, "https://github.com/mochi/mochiweb", {branch, "master"}}},
       {lager, {git, "https://github.com/basho/lager.git", {branch, "master"}}},
       {im_redis, {git, "https://github.com/wcy123/im_redis.git", {branch, "master"}}},
       {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
]}.

{relx, [{release, {"im_nickname", "0.0.1"},
         [ im_nickname,
           eredis,
           goldrush,
           im_redis,
           jsx,
           lager,
           mochiweb,
           poolboy]},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/app.config"}
       ]}.


%% Local Variables:
%% mode:erlang
%% coding: undecided-unix
%% End:
