[
 { im_redis, [{pool, [nickname_redis_pool]},
              {nickname_redis_pool,
               [
                {host, "redis"},
                {port, 6379},
                {db, 0},
                {pool_size, 1}
               ]}]},
 {lager,
  [
   { handlers ,
     [ { lager_console_backend,
         [debug, {lager_default_formatter, []}]
       },
       { lager_file_backend, [{file, "log/debug.log"},
                              {level, debug},
                              {size, 104857600},
                              {date, "$D0"},
                              {count, 10},
                              {high_water_mark, 50000},
                              {sync_on, critical}
                             ]},
       { lager_file_backend, [{file, "log/info.log"},
                              {level, info},
                              {size, 104857600},
                              {date, "$D0"},
                              {count, 10},
                              {high_water_mark, 50000},
                              {sync_on, critical}
                             ]},
       {
         lager_file_backend,
         [{file, "log/error.log"},
          {level, error},
          {count, 10}, {sync_on, critical } ]
       }
     ]}]}
].

%% Local Variables:
%% mode:erlang
%% coding: nil
%% End:
